@model Sample.Client.Web.Models.DocumentViewModel

@{
    ViewBag.Title = "Document";
}

<h2>Document</h2>

<fieldset>
    <legend>Document</legend>

    <div class="display-label">AccessionNumber</div>
    <div class="display-field">@Model.Document.AccessionNumber</div>

    @foreach (var share in Model.Document.ShareClasses)
    {
        <div class="display-label">Ticker</div>
        <div class="display-field">@share.Ticker</div>
    }
</fieldset>
<div>
@using (Html.BeginForm("AssociateShareClass","Funds"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Associate Share</legend>
        <input type="hidden" value="@Model.Document.Id" name="document" />
        <select name="share">
            @foreach (var share in Model.AllShares)
            {
                <option value="@share.Id">@share.Ticker</option>
            }
        </select>
        <p>
            <input type="submit" value="Associate" />
        </p>
    </fieldset>
}
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

